.user-label {
    -fx-background-color: #ffcbcd; /* soft pink */
    -fx-background-radius: 1em 1em 0 1em;
    -fx-text-fill: #89464c;
    -fx-font-family: "Segoe UI";
}

.neko-label {
    -fx-background-color: #ffffff;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-text-fill: #89464c;
    -fx-font-family: "Segoe UI";
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

.ascii-label {
    -fx-font-family: "Consolas", "Courier New", monospace;
}
